h1{
    color: aliceblue;
 text-align: center;
 image-rendering: auto;
 

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Courier New', Courier, monospace;

}
body{
    background-color: #000;
}
.header_hero{
    background-color: #000;
    
}
.nav ul{
    display: flex;
}
.nav ul li{
    margin: 20px;
    
}
.nav ul li a{
    font-size: 20px;
    color: #55e6a5;
    transition: 0.6s;
}
.nav ul li a:hover{
    color: #fff;
}
.bars{
    display:none ;
}



.header{
    display: flex;
    justify-content: space-around;
    align-items:center;
    gap: 80px;
    padding: 100px 8%;
}

.header_info{
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 20px;
    flex-direction: column;
    width: 70%;
}
h1, p{
    color: #fff;
}
h1{
    font-size: 50px;
}
